openapi: 3.0.0
info:
  title: API Facturación Electronica Validación Previa DIAN - SOENAC SAS
  description: 'Documentación API Facturación Electronica Validación Previa DIAN UBL2.1, Desarrollado por [SOENAC SAS](https://soenac.com) Copyright © SOENAC SAS 2020.'
  termsOfService: 'https://soenac.com/api-pro-terminos-de-uso'
  contact:
    email: faguirre@soenac.com
  version: ' v4.1.2'
servers:
  - url: 'https://api.soenac.com'
    description: Server
paths:
  '/api/ubl2.1/config/{nit}':
    get:
      tags:
        - Empresas
      summary: Consulta de empresa.
      parameters:
        - name: nit
          in: path
          description: Número de Identificación Tributaria RUT
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                items: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                items: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                items: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                items: {}
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                items: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                items: {}
      security:
        - api_token: []
    put:
      tags:
        - Empresas
      summary: Actualización de empresa
      parameters:
        - name: nit
          in: path
          description: Número de Identificación Tributaria RUT
          required: true
          schema:
            type: integer
      requestBody:
        description: Objeto para actualizar la empresa.
        required: true
        content:
          application/json:
            schema:
              required:
                - type_document_identification_id
                - type_organization_id
                - type_regime_id
                - type_liability_id
                - business_name
                - merchant_registration
                - municipality_id
                - address
                - phone
                - email
              properties:
                language_id:
                  description: Código del idioma
                  type: integer
                  default: 79
                type_environment_id:
                  description: Código del ambiente
                  type: integer
                  default: 2
                type_operation_id:
                  description: Código del tipo de operación
                  type: integer
                  default: 10
                type_document_identification_id:
                  description: Código del tipo identificación de documento
                  type: integer
                country_id:
                  description: Código del pais
                  type: integer
                  default: 46
                type_currency_id:
                  description: Código del tipo moneda por defecto
                  type: integer
                  default: '35'
                type_organization_id:
                  description: Código del tipo organización
                  type: integer
                type_regime_id:
                  description: Código del tipo regimen
                  type: integer
                type_liability_id:
                  description: Código del tipo responsabilidad
                  type: integer
                tax_detail_id:
                  description: Código de detalles tributarios
                  type: integer
                  default: '1'
                business_name:
                  description: Razón social
                  type: string
                trade_name:
                  description: Nombre comercial
                  type: string
                merchant_registration:
                  description: Matrícula mercantil
                  type: string
                  default: No tiene
                municipality_id:
                  description: Código del municipio
                  type: integer
                address:
                  description: Dirección
                  type: string
                phone:
                  description: Teléfono
                  type: integer
                email:
                  description: Correo electrónico
                  type: string
                  format: email
                ciius:
                  description: Código de actividad económica CIIU (Si desea reportar varias actividades usar ; como separador)
                  type: string
                  nullable: 'true'
                mailer:
                  description: Remitente
                  type: string
                  default: Configuración por defecto del servidor
                token:
                  description: Token de autenticación (Admin)
                  type: string
                  minLength: 80
                  nullable: 'true'
                cut_off_day:
                  description: Día de corte (1-31 - Admin)
                  type: integer
                  nullable: 'true'
                document_limit:
                  description: Límite de documentos por mes (Admin)
                  type: integer
                  nullable: 'true'
              type: object
              example:
                type_document_identification_id: 6
                type_organization_id: 1
                type_regime_id: 1
                type_liability_id: 29
                business_name: EMPRESA DE PRUEBAS
                merchant_registration: 1234567-12
                municipality_id: 1006
                address: CALLE 1 1C 1
                phone: 3216547
                email: test@test.test
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                items: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                items: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                items: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                items: {}
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                items: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                items: {}
      security:
        - api_token: []
    post:
      tags:
        - Empresas
      summary: Creación de empresa.
      parameters:
        - name: nit
          in: path
          description: Número de Identificación Tributaria RUT
          required: true
          schema:
            type: integer
      requestBody:
        description: Objeto para la creación de la empresa.
        required: true
        content:
          application/json:
            schema:
              required:
                - type_document_identification_id
                - type_organization_id
                - type_regime_id
                - type_liability_id
                - business_name
                - merchant_registration
                - municipality_id
                - address
                - phone
                - email
              properties:
                language_id:
                  description: Código del idioma
                  type: integer
                  default: 79
                type_environment_id:
                  description: Código del ambiente
                  type: integer
                  default: 2
                type_operation_id:
                  description: Código del tipo de operación
                  type: integer
                  default: 10
                type_document_identification_id:
                  description: Código del tipo identificación de documento
                  type: integer
                country_id:
                  description: Código del pais
                  type: integer
                  default: 46
                type_currency_id:
                  description: Código del tipo moneda por defecto
                  type: integer
                  default: '35'
                type_organization_id:
                  description: Código del tipo organización
                  type: integer
                type_regime_id:
                  description: Código del tipo regimen
                  type: integer
                type_liability_id:
                  description: Código del tipo responsabilidad
                  type: integer
                tax_detail_id:
                  description: Código de detalles tributarios
                  type: integer
                  default: '1'
                business_name:
                  description: Razón social
                  type: string
                trade_name:
                  description: Nombre comercial
                  type: string
                merchant_registration:
                  description: Matrícula mercantil
                  type: string
                  default: No tiene
                municipality_id:
                  description: Código del municipio
                  type: integer
                address:
                  description: Dirección
                  type: string
                phone:
                  description: Teléfono
                  type: integer
                email:
                  description: Correo electrónico
                  type: string
                  format: email
                ciius:
                  description: Código de actividad económica CIIU (Si desea reportar varias actividades usar ; como separador)
                  type: string
                  nullable: 'true'
                mailer:
                  description: Remitente
                  type: string
                  default: Configuración por defecto del servidor
                cut_off_day:
                  description: Día de corte (1-31)
                  type: integer
                  nullable: 'true'
                document_limit:
                  description: Límite de documentos por mes
                  type: integer
                  nullable: 'true'
              type: object
              example:
                type_document_identification_id: 6
                type_organization_id: 1
                type_regime_id: 1
                type_liability_id: 29
                business_name: EMPRESA DE PRUEBAS
                merchant_registration: 1234567-12
                municipality_id: 1006
                address: CALLE 1 1C 1
                phone: 3216547
                email: test@test.test
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                items: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                items: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                items: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                items: {}
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                items: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                items: {}
      security:
        - api_token: []
    delete:
      tags:
        - Empresas
      summary: Eliminación de empresa
      parameters:
        - name: nit
          in: path
          description: Número de Identificación Tributaria RUT
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                items: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                items: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                items: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                items: {}
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                items: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                items: {}
      security:
        - api_token: []
  '/api/ubl2.1/documents/per-month/{nit}':
    get:
      tags:
        - Documentos
      summary: Consulta de documentos por mes.
      parameters:
        - name: nit
          in: path
          description: Número de Identificación Tributaria RUT
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                items: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                items: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                items: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                items: {}
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                items: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                items: {}
      security:
        - api_token: []
  /api/ubl2.1/config/software:
    put:
      tags:
        - Configuración
      summary: Actualización del software
      requestBody:
        description: Objeto para la configuración del software.
        required: true
        content:
          application/json:
            schema:
              required:
                - id
                - pin
              properties:
                id:
                  description: Id del software
                  type: string
                pin:
                  description: Pin del software
                  type: integer
                url:
                  description: URL del software
                  type: string
                  default: 'https://vpfe-hab.dian.gov.co/WcfDianCustomerServices.svc'
              type: object
              example:
                id: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
                pin: 12345
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                items: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                items: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                items: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                items: {}
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                items: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                items: {}
      security:
        - api_token: []
  /api/ubl2.1/config/certificate:
    put:
      tags:
        - Configuración
      summary: Actualización del certificado
      requestBody:
        description: Objeto para la configuración del certificado.
        required: true
        content:
          application/json:
            schema:
              required:
                - certificate
                - password
              properties:
                certificate:
                  description: Certificado (.p12) en base64
                  type: string
                  format: byte
                password:
                  description: Password del certificado
                  type: string
              type: object
              example:
                certificate: base64
                password: '123456'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                items: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                items: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                items: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                items: {}
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                items: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                items: {}
      security:
        - api_token: []
  /api/ubl2.1/config/resolution:
    put:
      tags:
        - Configuración
      summary: Actualización de resolución
      requestBody:
        description: Objeto para la configuración de la resolución.
        required: true
        content:
          application/json:
            schema:
              required:
                - type_document_id
                - from
                - to
              properties:
                type_document_id:
                  description: Código de tipo de documento
                  type: integer
                prefix:
                  description: Prefijo
                  type: string
                resolution:
                  description: Resolución
                  type: integer
                resolution_date:
                  description: Fecha de resolución
                  type: string
                  format: date
                technical_key:
                  description: Llave técnica
                  type: string
                from:
                  description: Desde
                  type: integer
                to:
                  description: Hasta
                  type: integer
                generated_to_date:
                  description: Generados hasta la fecha
                  type: integer
                  default: 0
                date_from:
                  description: Fecha desde
                  type: string
                  format: date
                date_to:
                  description: Fecha hasta
                  type: string
                  format: date
              type: object
              example:
                type_document_id: 4
                from: 0
                to: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                items: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                items: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                items: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                items: {}
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                items: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                items: {}
      security:
        - api_token: []
  /api/ubl2.1/config/multiple-resolutions:
    get:
      tags:
        - Configuración
      summary: Todas las resoluciones
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                items: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                items: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                items: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                items: {}
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                items: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                items: {}
      security:
        - api_token: []
    post:
      tags:
        - Configuración
      summary: Creación de resolución
      requestBody:
        description: Objeto para la configuración de la resolución.
        required: true
        content:
          application/json:
            schema:
              required:
                - type_document_id
                - from
                - to
              properties:
                type_document_id:
                  description: Código de tipo de documento
                  type: integer
                prefix:
                  description: Prefijo
                  type: string
                resolution:
                  description: Resolución
                  type: integer
                resolution_date:
                  description: Fecha de resolución
                  type: string
                  format: date
                technical_key:
                  description: Llave técnica
                  type: string
                from:
                  description: Desde
                  type: integer
                to:
                  description: Hasta
                  type: integer
                generated_to_date:
                  description: Generados hasta la fecha
                  type: integer
                  default: 0
                date_from:
                  description: Fecha desde
                  type: string
                  format: date
                date_to:
                  description: Fecha hasta
                  type: string
                  format: date
              type: object
              example:
                type_document_id: 4
                from: 0
                to: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                items: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                items: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                items: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                items: {}
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                items: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                items: {}
      security:
        - api_token: []
  '/api/ubl2.1/config/multiple-resolutions/{resolution_id}':
    put:
      tags:
        - Configuración
      summary: Actualización de resolución
      parameters:
        - name: resolution_id
          in: path
          description: Código de resolución
          required: true
          schema:
            type: integer
      requestBody:
        description: Objeto para la configuración de la resolución.
        required: true
        content:
          application/json:
            schema:
              required:
                - type_document_id
                - from
                - to
              properties:
                type_document_id:
                  description: Código de tipo de documento
                  type: integer
                prefix:
                  description: Prefijo
                  type: string
                resolution:
                  description: Resolución
                  type: integer
                resolution_date:
                  description: Fecha de resolución
                  type: string
                  format: date
                technical_key:
                  description: Llave técnica
                  type: string
                from:
                  description: Desde
                  type: integer
                to:
                  description: Hasta
                  type: integer
                generated_to_date:
                  description: Generados hasta la fecha
                  type: integer
                  default: 0
                date_from:
                  description: Fecha desde
                  type: string
                  format: date
                date_to:
                  description: Fecha hasta
                  type: string
                  format: date
              type: object
              example:
                type_document_id: 4
                from: 0
                to: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                items: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                items: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                items: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                items: {}
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                items: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                items: {}
      security:
        - api_token: []
    delete:
      tags:
        - Configuración
      summary: Eliminación de resolución
      parameters:
        - name: resolution_id
          in: path
          description: Código de resolución
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                items: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                items: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                items: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                items: {}
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                items: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                items: {}
      security:
        - api_token: []
  /api/ubl2.1/config/logo:
    put:
      tags:
        - Configuración
      summary: Actualización del logo
      requestBody:
        description: Objeto para la configuración del logo.
        required: true
        content:
          application/json:
            schema:
              required:
                - logo
              properties:
                logo:
                  description: Logo (700 * 300 png) en base64
                  type: string
                  format: byte
              type: object
              example:
                logo: base64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                items: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                items: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                items: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                items: {}
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                items: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                items: {}
      security:
        - api_token: []
  '/api/ubl2.1/invoice/{testSetId}':
    post:
      tags:
        - Facturas de Venta Nacional
      summary: Envio de Facturas de Venta Nacional (Set de pruebas)
      parameters:
        - name: testSetId
          in: path
          description: Test set ID
          required: false
          schema:
            type: string
      requestBody:
        description: Objeto para la creación de facturas nacionales.
        required: true
        content:
          application/json:
            schema:
              required:
                - number
                - type_document_id
                - customer
                - legal_monetary_totals
                - invoice_lines
              properties:
                number:
                  description: Número de documento
                  type: integer
                branch_office:
                  description: Datos de la sucursal
                  properties:
                    logo:
                      description: URL del logotipo de la sucursal
                      type: string
                    country_id:
                      description: Código de pais
                      type: integer
                    municipality_id:
                      description: Código de municipio
                      type: integer
                    name:
                      description: Razón social
                      type: string
                    trade_name:
                      description: Nombre comercial
                      type: string
                    phone:
                      description: Teléfono
                      type: integer
                    address:
                      description: Dirección
                      type: string
                    email:
                      description: Correo electrónico
                      type: string
                      format: email
                    merchant_registration:
                      description: Registro mercantil
                      type: string
                  type: object
                sync:
                  description: Metodos síncrono
                  type: boolean
                  default: 'false'
                send:
                  description: Enviar representación grafica
                  type: boolean
                  default: 'false'
                notes:
                  description: Información adicional
                  type: array
                  items:
                    required:
                      - text
                    properties:
                      text:
                        description: 'Texto libre, relativo al documento'
                        type: string
                    type: object
                type_operation_id:
                  description: Código del tipo de operación
                  type: integer
                  default: Tipo de operación de la empresa
                type_document_id:
                  description: Código de tipo de documento
                  type: integer
                resolution_id:
                  description: Código de resolución
                  type: integer
                due_date:
                  description: Fecha de vencimiento
                  type: string
                  format: date
                date:
                  description: Fecha de asunto
                  type: string
                  format: date
                  deprecated: 'true'
                time:
                  description: Tiempo de emisión
                  type: string
                  format: time
                  deprecated: 'true'
                type_currency_id:
                  description: Código del tipo moneda del documento
                  type: integer
                  default: Código del tipo de moneda de la empresa
                invoice_period:
                  description: Periodo de facturación
                  required:
                    - start_date
                    - end_date
                  properties:
                    start_date:
                      description: Fecha de inicio del periodo de facturación
                      type: string
                      format: date
                    start_time:
                      description: Hora de inicio del periodo de facturación
                      type: string
                      format: time
                    end_date:
                      description: Fecha de fin del periodo de facturación
                      type: date
                    end_time:
                      description: Hora de fin del periodo de facturación
                      type: string
                      format: time
                  type: object
                order_reference:
                  description: Orden de compra
                  required:
                    - id
                  properties:
                    id:
                      description: Prefijo y número del documento orden referenciado
                      type: string
                    issue_date:
                      description: 'Fecha de emisión: Fecha de emisión de la orden'
                      type: string
                      format: date
                  type: object
                receipt_document_references:
                  description: Despachos
                  type: array
                  items:
                    required:
                      - id
                    properties:
                      id:
                        description: Prefijo y número del documento despacho referenciado
                        type: string
                      issue_date:
                        description: 'Fecha de emisión: Fecha de emisión del documeto de despacho'
                        type: string
                        format: date
                    type: object
                payment_exchange_rate:
                  description: Tasa de cambio
                  required:
                    - type_currency_id
                    - calculation_rate
                    - date
                  properties:
                    type_currency_id:
                      description: Código de divisa a la cual se hace la conversión
                      type: integer
                    calculation_rate:
                      description: Valor de la tasa de cambio
                      type: double
                    date:
                      description: Fecha en la que se fijó la tasa de cambio
                      type: string
                      format: date
                  type: object
                customer:
                  description: Datos del cliente
                  required:
                    - identification_number
                    - name
                    - email
                  properties:
                    identification_number:
                      description: Número de identificación
                      type: integer
                    type_document_identification_id:
                      description: Código de documento de identidad
                      type: integer
                      default: 3
                    type_organization_id:
                      description: Código de tipo de organización
                      type: integer
                      default: 2
                    language_id:
                      description: Código de idioma
                      type: integer
                      default: 79
                    country_id:
                      description: Código de pais
                      type: integer
                      default: 46
                    municipality_id:
                      description: Código de municipio
                      type: integer
                      nullable: 'true'
                    type_regime_id:
                      description: Código de régimen
                      type: integer
                      default: 2
                    type_liability_id:
                      description: Código de responsabilidad
                      type: integer
                      default: 29
                    tax_detail_id:
                      description: Código de detalles tributarios
                      type: integer
                      default: 5
                    name:
                      description: Nombre o razon social del empresa
                      type: string
                    trade_name:
                      description: Nombre comercial
                      type: string
                    phone:
                      description: Teléfono
                      type: integer
                    address:
                      description: Dirección
                      type: string
                    email:
                      description: Correo electrónico (Si desea reportar varios emails usar ; como separador)
                      type: string
                      format: email
                    merchant_registration:
                      description: Registro mercantil
                      type: string
                      default: No tiene
                  type: object
                payment_form:
                  description: Forma de pago
                  properties:
                    payment_form_id:
                      description: Código de forma de pago
                      type: integer
                      default: 1
                    payment_method_id:
                      description: Código del método de pago
                      type: integer
                      default: 10
                    payment_due_date:
                      description: Fecha de vencimiento del pago
                      type: string
                      format: date
                    duration_measure:
                      description: Medida de duración en dias
                      type: integer
                  type: object
                  deprecated: 'true'
                payment_forms:
                  description: Formas de pago
                  type: array
                  items:
                    required:
                      - text
                    properties:
                      payment_form_id:
                        description: Código de forma de pago
                        type: integer
                        default: 1
                      payment_method_id:
                        description: Código del método de pago
                        type: integer
                        default: 10
                      payment_due_date:
                        description: Fecha de vencimiento del pago
                        type: string
                        format: date
                      duration_measure:
                        description: Medida de duración en dias
                        type: integer
                    type: object
                prepaid_payments:
                  description: Anticipos
                  type: array
                  items:
                    required:
                      - identifier
                      - paid_amount
                    properties:
                      identifier:
                        description: Identificación del pago
                        type: string
                      paid_amount:
                        description: Valor del pago
                        type: number
                        format: double
                      received_date:
                        description: Fecha en la cual el pago fue recibido
                        type: string
                        format: date
                      paid_date:
                        description: Fecha en la cual el pago fue realizado
                        type: string
                        format: date
                      instruction_id:
                        description: Instrucciones relativas al pago
                        type: string
                    type: object
                allowance_charges:
                  description: Cargos o descuentos
                  type: array
                  items:
                    required:
                      - charge_indicator
                      - allowance_charge_reason
                      - amount
                      - base_amount
                    properties:
                      charge_indicator:
                        description: Cargo o descuento
                        type: boolean
                      discount_id:
                        description: Código de descuento
                        type: integer
                      allowance_charge_reason:
                        description: Razón del cargo o descuento
                        type: string
                      amount:
                        description: Cantidad
                        type: number
                        format: double
                      base_amount:
                        description: Cantidad base
                        type: number
                        format: double
                    type: object
                tax_totals:
                  description: Totales impuestos
                  type: array
                  items:
                    required:
                      - tax_id
                      - tax_amount
                      - taxable_amount
                    properties:
                      tax_id:
                        description: Código impuesto
                        type: integer
                      percent:
                        description: Porcentaje
                        type: integer
                        format: double
                      tax_amount:
                        description: Importe del impuesto
                        type: integer
                        format: double
                      taxable_amount:
                        description: Base imponible
                        type: integer
                        format: double
                      unit_measure_id:
                        description: Código de unidad de medida
                        type: integer
                      per_unit_amount:
                        description: Por unidad de cantidad
                        type: integer
                        format: double
                      base_unit_measure:
                        description: Medida unidad base
                        type: integer
                        format: double
                    type: object
                withholding_tax_totals:
                  description: Totales retenciones
                  type: array
                  items:
                    required:
                      - tax_id
                      - percent
                      - tax_amount
                      - taxable_amount
                    properties:
                      tax_id:
                        description: Código impuesto
                        type: integer
                      percent:
                        description: Porcentaje
                        type: integer
                        format: double
                      tax_amount:
                        description: Importe del impuesto
                        type: integer
                        format: double
                      taxable_amount:
                        description: Base imponible
                        type: integer
                        format: double
                    type: object
                legal_monetary_totals:
                  description: Totales monetarios legales
                  required:
                    - line_extension_amount
                    - tax_exclusive_amount
                    - tax_inclusive_amount
                    - allowance_total_amount
                    - charge_total_amount
                    - payable_amount
                  properties:
                    line_extension_amount:
                      description: Cantidad de extensión de línea
                      type: integer
                      format: double
                    tax_exclusive_amount:
                      description: Cantidad exclusiva de impuestos
                      type: integer
                      format: double
                    tax_inclusive_amount:
                      description: Cantidad de impuestos incluidos
                      type: integer
                      format: double
                    allowance_total_amount:
                      description: Cantidad total de la asignación
                      type: integer
                      format: double
                    charge_total_amount:
                      description: Cantidad del importe total
                      type: integer
                      format: double
                    payable_amount:
                      description: Cantidad a pagar
                      type: integer
                      format: double
                  type: object
                invoice_lines:
                  description: Líneas de factura
                  type: array
                  items:
                    required:
                      - unit_measure_id
                      - invoiced_quantity
                      - line_extension_amount
                      - free_of_charge_indicator
                      - description
                      - code
                      - type_item_identification_id
                      - price_amount
                      - base_quantity
                    properties:
                      notes:
                        description: Información adicional
                        type: array
                        items:
                          required:
                            - text
                          properties:
                            text:
                              description: Texto libre para añadir información adicional al artículo
                              type: string
                          type: object
                      unit_measure_id:
                        description: Código de unidad de medida
                        type: integer
                      invoiced_quantity:
                        description: Cantidad facturada
                        type: integer
                        format: double
                      line_extension_amount:
                        description: Cantidad de extensión de línea
                        type: integer
                        format: double
                      free_of_charge_indicator:
                        description: Indicador de libre carga
                        type: boolean
                      reference_price_id:
                        description: Código de referencia precios
                        type: integer
                      order_line_reference:
                        description: Orden de compra linea
                        required:
                          - id
                        properties:
                          id:
                            description: Prefijo y número del documento orden referenciado
                            type: string
                          issue_date:
                            description: 'Fecha de emisión: Fecha de emisión de la orden'
                            type: string
                            format: date
                        type: object
                      receipt_line_reference:
                        description: Despacho linea
                        required:
                          - id
                        properties:
                          id:
                            description: Prefijo y número del documento despacho referenciado
                            type: string
                          issue_date:
                            description: 'Fecha de emisión: Fecha de emisión del documeto de despacho'
                            type: string
                            format: date
                        type: object
                      allowance_charges:
                        description: Cargos o descuentos
                        type: array
                        items:
                          required:
                            - charge_indicator
                            - allowance_charge_reason
                            - amount
                          properties:
                            charge_indicator:
                              description: Cargo o descuento
                              type: boolean
                            allowance_charge_reason:
                              description: Razón del cargo o descuento
                              type: string
                            amount:
                              description: Cantidad
                              type: integer
                              format: double
                            base_amount:
                              description: Cantidad base
                              type: integer
                              format: double
                            multiplier_factor_numeric:
                              description: Factor multiplicador numérico
                              type: integer
                              format: double
                          type: object
                      tax_totals:
                        description: Totales de impuestos
                        type: array
                        items:
                          required:
                            - tax_id
                            - tax_amount
                            - taxable_amount
                          properties:
                            tax_id:
                              description: Código de impuesto
                              type: integer
                            tax_amount:
                              description: Importe del impuesto
                              type: integer
                              format: double
                            taxable_amount:
                              description: Base imponible
                              type: integer
                              format: double
                            percent:
                              description: Porcentaje
                              type: integer
                              format: double
                            unit_measure_id:
                              description: Código de unidad de medida
                              type: integer
                            per_unit_amount:
                              description: Por unidad de cantidad
                              type: integer
                              format: double
                            base_unit_measure:
                              description: Medida unidad base
                              type: integer
                              format: double
                          type: object
                      withholding_tax_totals:
                        description: Totales retenciones
                        type: array
                        items:
                          required:
                            - tax_id
                            - percent
                            - tax_amount
                            - taxable_amount
                          properties:
                            tax_id:
                              description: Código impuesto
                              type: integer
                            percent:
                              description: Porcentaje
                              type: integer
                              format: double
                            tax_amount:
                              description: Importe del impuesto
                              type: integer
                              format: double
                            taxable_amount:
                              description: Base imponible
                              type: integer
                              format: double
                          type: object
                      information_content_provider_party:
                        description: Mandante
                        required:
                          - identification_number
                        properties:
                          identification_number:
                            description: Número de identificación
                            type: integer
                          type_document_identification_id:
                            description: Código de documento de identidad
                            type: integer
                            default: '6'
                        type: object
                      description:
                        description: Descripción
                        type: string
                      code:
                        description: Código interno
                        type: string
                      type_item_identification_id:
                        description: Código de identificación del artículo
                        type: integer
                      price_amount:
                        description: Importe del precio
                        type: integer
                        format: double
                      base_quantity:
                        description: Cantidad base
                        type: integer
                        format: double
                    type: object
              type: object
              example:
                number: 0
                type_document_id: 1
                customer:
                  identification_number: 1234567890
                  name: Customer Test
                  email: test@test.com
                legal_monetary_totals:
                  line_extension_amount: '0.00'
                  tax_exclusive_amount: '0.00'
                  tax_inclusive_amount: '0.00'
                  allowance_total_amount: '0.00'
                  charge_total_amount: '0.00'
                  payable_amount: '0.00'
                invoice_lines:
                  - unit_measure_id: 642
                    invoiced_quantity: '1.000000'
                    line_extension_amount: '0.00'
                    free_of_charge_indicator: false
                    allowance_charges:
                      - charge_indicator: false
                        allowance_charge_reason: Discount
                        amount: '0.00'
                        base_amount: '0.00'
                    tax_totals:
                      - tax_id: 1
                        tax_amount: '0.00'
                        taxable_amount: '0.00'
                        percent: '19.00'
                    description: XXXXXXXXXXX
                    code: '1234567890'
                    type_item_identification_id: 3
                    price_amount: '0.00'
                    base_quantity: '1.000000'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                items: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                items: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                items: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                items: {}
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                items: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                items: {}
      security:
        - api_token: []
  '/api/ubl2.1/export-invoice/{testSetId}':
    post:
      tags:
        - Facturas de Exportación
      summary: Envio de Facturas de Exportación (Set de pruebas)
      parameters:
        - name: testSetId
          in: path
          description: Test set ID
          required: false
          schema:
            type: string
      requestBody:
        description: Objeto para la creación de facturas de exportación.
        required: true
        content:
          application/json:
            schema:
              required:
                - number
                - type_document_id
                - payment_exchange_rate
                - customer
                - legal_monetary_totals
                - invoice_lines
              properties:
                number:
                  description: Número de documento
                  type: integer
                branch_office:
                  description: Datos de la sucursal
                  properties:
                    logo:
                      description: URL del logotipo de la sucursal
                      type: string
                    country_id:
                      description: Código de pais
                      type: integer
                    municipality_id:
                      description: Código de municipio
                      type: integer
                    name:
                      description: Razón social
                      type: string
                    trade_name:
                      description: Nombre comercial
                      type: string
                    phone:
                      description: Teléfono
                      type: integer
                    address:
                      description: Dirección
                      type: string
                    email:
                      description: Correo electrónico
                      type: string
                      format: email
                    merchant_registration:
                      description: Registro mercantil
                      type: string
                  type: object
                sync:
                  description: Metodos síncrono
                  type: boolean
                  default: 'false'
                send:
                  description: Enviar representación grafica
                  type: boolean
                  default: 'false'
                notes:
                  description: Información adicional
                  type: array
                  items:
                    required:
                      - text
                    properties:
                      text:
                        description: 'Texto libre, relativo al documento'
                        type: string
                    type: object
                type_operation_id:
                  description: Código del tipo de operación
                  type: integer
                  default: Tipo de operación de la empresa
                type_document_id:
                  description: Código de tipo de documento
                  type: integer
                resolution_id:
                  description: Código de resolución
                  type: integer
                due_date:
                  description: Fecha de vencimiento
                  type: string
                  format: date
                date:
                  description: Fecha de asunto
                  type: string
                  format: date
                  deprecated: 'true'
                time:
                  description: Tiempo de emisión
                  type: string
                  format: time
                  deprecated: 'true'
                type_currency_id:
                  description: Código del tipo moneda del documento
                  type: integer
                  default: '149'
                invoice_period:
                  description: Periodo de facturación
                  required:
                    - start_date
                    - end_date
                  properties:
                    start_date:
                      description: Fecha de inicio del periodo de facturación
                      type: string
                      format: date
                    start_time:
                      description: Hora de inicio del periodo de facturación
                      type: string
                      format: time
                    end_date:
                      description: Fecha de fin del periodo de facturación
                      type: date
                    end_time:
                      description: Hora de fin del periodo de facturación
                      type: string
                      format: time
                  type: object
                order_reference:
                  description: Orden de compra
                  required:
                    - id
                  properties:
                    id:
                      description: Prefijo y número del documento orden referenciado
                      type: string
                    issue_date:
                      description: 'Fecha de emisión: Fecha de emisión de la orden'
                      type: string
                      format: date
                  type: object
                receipt_document_references:
                  description: Despachos
                  type: array
                  items:
                    required:
                      - id
                    properties:
                      id:
                        description: Prefijo y número del documento despacho referenciado
                        type: string
                      issue_date:
                        description: 'Fecha de emisión: Fecha de emisión del documeto de despacho'
                        type: string
                        format: date
                    type: object
                payment_exchange_rate:
                  description: Tasa de cambio
                  required:
                    - type_currency_id
                    - calculation_rate
                    - date
                  properties:
                    type_currency_id:
                      description: Código de divisa a la cual se hace la conversión
                      type: integer
                    calculation_rate:
                      description: Valor de la tasa de cambio
                      type: double
                    date:
                      description: Fecha en la que se fijó la tasa de cambio
                      type: string
                      format: date
                  type: object
                customer:
                  description: Datos del cliente
                  required:
                    - identification_number
                    - name
                    - email
                  properties:
                    identification_number:
                      description: Número de identificación
                      type: integer
                    type_document_identification_id:
                      description: Código de documento de identidad
                      type: integer
                      default: 3
                    type_organization_id:
                      description: Código de tipo de organización
                      type: integer
                      default: 2
                    language_id:
                      description: Código de idioma
                      type: integer
                      default: 79
                    country_id:
                      description: Código de pais
                      type: integer
                      default: 46
                    municipality_id:
                      description: Código de municipio
                      type: integer
                      nullable: 'true'
                    type_regime_id:
                      description: Código de régimen
                      type: integer
                      default: 2
                    type_liability_id:
                      description: Código de responsabilidad
                      type: integer
                      default: 29
                    tax_detail_id:
                      description: Código de detalles tributarios
                      type: integer
                      default: 5
                    name:
                      description: Nombre o razon social del empresa
                      type: string
                    trade_name:
                      description: Nombre comercial
                      type: string
                    phone:
                      description: Teléfono
                      type: integer
                    address:
                      description: Dirección
                      type: string
                    email:
                      description: Correo electrónico (Si desea reportar varios emails usar ; como separador)
                      type: string
                      format: email
                    merchant_registration:
                      description: Registro mercantil
                      type: string
                      default: No tiene
                  type: object
                payment_form:
                  description: Forma de pago
                  properties:
                    payment_form_id:
                      description: Código de forma de pago
                      type: integer
                      default: 1
                    payment_method_id:
                      description: Código del método de pago
                      type: integer
                      default: 10
                    payment_due_date:
                      description: Fecha de vencimiento del pago
                      type: string
                      format: date
                    duration_measure:
                      description: Medida de duración en dias
                      type: integer
                  type: object
                  deprecated: 'true'
                payment_forms:
                  description: Formas de pago
                  type: array
                  items:
                    required:
                      - text
                    properties:
                      payment_form_id:
                        description: Código de forma de pago
                        type: integer
                        default: 1
                      payment_method_id:
                        description: Código del método de pago
                        type: integer
                        default: 10
                      payment_due_date:
                        description: Fecha de vencimiento del pago
                        type: string
                        format: date
                      duration_measure:
                        description: Medida de duración en dias
                        type: integer
                    type: object
                prepaid_payments:
                  description: Anticipos
                  type: array
                  items:
                    required:
                      - identifier
                      - paid_amount
                    properties:
                      identifier:
                        description: Identificación del pago
                        type: string
                      paid_amount:
                        description: Valor del pago
                        type: number
                        format: double
                      received_date:
                        description: Fecha en la cual el pago fue recibido
                        type: string
                        format: date
                      paid_date:
                        description: Fecha en la cual el pago fue realizado
                        type: string
                        format: date
                      instruction_id:
                        description: Instrucciones relativas al pago
                        type: string
                    type: object
                allowance_charges:
                  description: Cargos o descuentos
                  type: array
                  items:
                    required:
                      - charge_indicator
                      - allowance_charge_reason
                      - amount
                      - base_amount
                    properties:
                      charge_indicator:
                        description: Cargo o descuento
                        type: boolean
                      discount_id:
                        description: Código de descuento
                        type: integer
                      allowance_charge_reason:
                        description: Razón del cargo o descuento
                        type: string
                      amount:
                        description: Cantidad
                        type: number
                        format: double
                      base_amount:
                        description: Cantidad base
                        type: number
                        format: double
                    type: object
                tax_totals:
                  description: Totales impuestos
                  type: array
                  items:
                    required:
                      - tax_id
                      - tax_amount
                      - taxable_amount
                    properties:
                      tax_id:
                        description: Código impuesto
                        type: integer
                      percent:
                        description: Porcentaje
                        type: integer
                        format: double
                      tax_amount:
                        description: Importe del impuesto
                        type: integer
                        format: double
                      taxable_amount:
                        description: Base imponible
                        type: integer
                        format: double
                      unit_measure_id:
                        description: Código de unidad de medida
                        type: integer
                      per_unit_amount:
                        description: Por unidad de cantidad
                        type: integer
                        format: double
                      base_unit_measure:
                        description: Medida unidad base
                        type: integer
                        format: double
                    type: object
                withholding_tax_totals:
                  description: Totales retenciones
                  type: array
                  items:
                    required:
                      - tax_id
                      - percent
                      - tax_amount
                      - taxable_amount
                    properties:
                      tax_id:
                        description: Código impuesto
                        type: integer
                      percent:
                        description: Porcentaje
                        type: integer
                        format: double
                      tax_amount:
                        description: Importe del impuesto
                        type: integer
                        format: double
                      taxable_amount:
                        description: Base imponible
                        type: integer
                        format: double
                    type: object
                legal_monetary_totals:
                  description: Totales monetarios legales
                  required:
                    - line_extension_amount
                    - tax_exclusive_amount
                    - tax_inclusive_amount
                    - allowance_total_amount
                    - charge_total_amount
                    - payable_amount
                  properties:
                    line_extension_amount:
                      description: Cantidad de extensión de línea
                      type: integer
                      format: double
                    tax_exclusive_amount:
                      description: Cantidad exclusiva de impuestos
                      type: integer
                      format: double
                    tax_inclusive_amount:
                      description: Cantidad de impuestos incluidos
                      type: integer
                      format: double
                    allowance_total_amount:
                      description: Cantidad total de la asignación
                      type: integer
                      format: double
                    charge_total_amount:
                      description: Cantidad del importe total
                      type: integer
                      format: double
                    payable_amount:
                      description: Cantidad a pagar
                      type: integer
                      format: double
                  type: object
                invoice_lines:
                  description: Líneas de factura
                  type: array
                  items:
                    required:
                      - unit_measure_id
                      - invoiced_quantity
                      - line_extension_amount
                      - free_of_charge_indicator
                      - description
                      - brand_name
                      - model_name
                      - code
                      - type_item_identification_id
                      - price_amount
                      - base_quantity
                    properties:
                      notes:
                        description: Información adicional
                        type: array
                        items:
                          required:
                            - text
                          properties:
                            text:
                              description: Texto libre para añadir información adicional al artículo
                              type: string
                          type: object
                      unit_measure_id:
                        description: Código de unidad de medida
                        type: integer
                      invoiced_quantity:
                        description: Cantidad facturada
                        type: integer
                        format: double
                      line_extension_amount:
                        description: Cantidad de extensión de línea
                        type: integer
                        format: double
                      free_of_charge_indicator:
                        description: Indicador de libre carga
                        type: boolean
                      reference_price_id:
                        description: Código de referencia precios
                        type: integer
                      order_line_reference:
                        description: Orden de compra linea
                        required:
                          - id
                        properties:
                          id:
                            description: Prefijo y número del documento orden referenciado
                            type: string
                          issue_date:
                            description: 'Fecha de emisión: Fecha de emisión de la orden'
                            type: string
                            format: date
                        type: object
                      receipt_line_reference:
                        description: Despacho linea
                        required:
                          - id
                        properties:
                          id:
                            description: Prefijo y número del documento despacho referenciado
                            type: string
                          issue_date:
                            description: 'Fecha de emisión: Fecha de emisión del documeto de despacho'
                            type: string
                            format: date
                        type: object
                      allowance_charges:
                        description: Cargos o descuentos
                        type: array
                        items:
                          required:
                            - charge_indicator
                            - allowance_charge_reason
                            - amount
                          properties:
                            charge_indicator:
                              description: Cargo o descuento
                              type: boolean
                            allowance_charge_reason:
                              description: Razón del cargo o descuento
                              type: string
                            amount:
                              description: Cantidad
                              type: integer
                              format: double
                            base_amount:
                              description: Cantidad base
                              type: integer
                              format: double
                            multiplier_factor_numeric:
                              description: Factor multiplicador numérico
                              type: integer
                              format: double
                          type: object
                      tax_totals:
                        description: Totales de impuestos
                        type: array
                        items:
                          required:
                            - tax_id
                            - tax_amount
                            - taxable_amount
                          properties:
                            tax_id:
                              description: Código de impuesto
                              type: integer
                            tax_amount:
                              description: Importe del impuesto
                              type: integer
                              format: double
                            taxable_amount:
                              description: Base imponible
                              type: integer
                              format: double
                            percent:
                              description: Porcentaje
                              type: integer
                              format: double
                            unit_measure_id:
                              description: Código de unidad de medida
                              type: integer
                            per_unit_amount:
                              description: Por unidad de cantidad
                              type: integer
                              format: double
                            base_unit_measure:
                              description: Medida unidad base
                              type: integer
                              format: double
                          type: object
                      withholding_tax_totals:
                        description: Totales retenciones
                        type: array
                        items:
                          required:
                            - tax_id
                            - percent
                            - tax_amount
                            - taxable_amount
                          properties:
                            tax_id:
                              description: Código impuesto
                              type: integer
                            percent:
                              description: Porcentaje
                              type: integer
                              format: double
                            tax_amount:
                              description: Importe del impuesto
                              type: integer
                              format: double
                            taxable_amount:
                              description: Base imponible
                              type: integer
                              format: double
                          type: object
                      information_content_provider_party:
                        description: Mandante
                        required:
                          - identification_number
                        properties:
                          identification_number:
                            description: Número de identificación
                            type: integer
                          type_document_identification_id:
                            description: Código de documento de identidad
                            type: integer
                            default: '6'
                        type: object
                      description:
                        description: Descripción
                        type: string
                      brand_name:
                        description: Marca del artículo
                        type: string
                      model_name:
                        description: Modelo del artículo
                        type: string
                      code:
                        description: Código interno
                        type: string
                      type_item_identification_id:
                        description: Código de identificación del artículo
                        type: integer
                      price_amount:
                        description: Importe del precio
                        type: integer
                        format: double
                      base_quantity:
                        description: Cantidad base
                        type: integer
                        format: double
                    type: object
              type: object
              example:
                number: 0
                type_document_id: 2
                payment_exchange_rate:
                  type_currency_id: 35
                  calculation_rate: '3100'
                  date: '0001-01-01'
                customer:
                  identification_number: 1234567890
                  name: Customer Test
                  email: test@test.com
                legal_monetary_totals:
                  line_extension_amount: '0.00'
                  tax_exclusive_amount: '0.00'
                  tax_inclusive_amount: '0.00'
                  allowance_total_amount: '0.00'
                  charge_total_amount: '0.00'
                  payable_amount: '0.00'
                invoice_lines:
                  - unit_measure_id: 642
                    invoiced_quantity: '1.000000'
                    line_extension_amount: '0.00'
                    free_of_charge_indicator: false
                    allowance_charges:
                      - charge_indicator: false
                        allowance_charge_reason: Discount
                        amount: '0.00'
                        base_amount: '0.00'
                    tax_totals:
                      - tax_id: 1
                        tax_amount: '0.00'
                        taxable_amount: '0.00'
                        percent: '19.00'
                    description: XXXXXXXXXXX
                    brand_name: No tiene
                    model_name: No tiene
                    code: '1234567890'
                    type_item_identification_id: 3
                    price_amount: '0.00'
                    base_quantity: '1.000000'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                items: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                items: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                items: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                items: {}
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                items: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                items: {}
      security:
        - api_token: []
  '/api/ubl2.1/status/zip/{zip_key}':
    post:
      tags:
        - Estados
      summary: Consulta del estado del ZIP
      parameters:
        - name: zip_key
          in: path
          description: Track ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                items: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                items: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                items: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                items: {}
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                items: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                items: {}
      security:
        - api_token: []
  '/api/ubl2.1/status/document/{uuid}':
    post:
      tags:
        - Estados
      summary: Consulta de estado del documento
      parameters:
        - name: uuid
          in: path
          description: Track ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                items: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                items: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                items: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                items: {}
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                items: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                items: {}
      security:
        - api_token: []
  '/api/ubl2.1/credit-note/{testSetId}':
    post:
      tags:
        - Notas Crédito
      summary: Envio de Notas Crédito (Set de pruebas)
      parameters:
        - name: testSetId
          in: path
          description: Test set ID
          required: false
          schema:
            type: string
      requestBody:
        description: Objeto para la creación de notas crédito.
        required: true
        content:
          application/json:
            schema:
              required:
                - number
                - type_document_id
                - customer
                - legal_monetary_totals
                - credit_note_lines
              properties:
                billing_reference:
                  description: Factura Electrónica afectada
                  required:
                    - number
                    - uuid
                    - issue_date
                  properties:
                    number:
                      description: Consecutivo de factura
                      type: string
                    uuid:
                      description: CUFE
                      type: string
                    issue_date:
                      description: Fecha de emisión
                      type: string
                      format: date
                  type: object
                discrepancy_response:
                  description: Naturaleza de la nota
                  required:
                    - correction_concept_id
                  properties:
                    reference:
                      description: Referencia
                      type: string
                    correction_concept_id:
                      description: Código de concepto de corrección
                      type: integer
                    description:
                      description: Descripción
                      type: string
                  type: object
                number:
                  description: Número de documento
                  type: integer
                branch_office:
                  description: Datos de la sucursal
                  properties:
                    logo:
                      description: URL del logotipo de la sucursal
                      type: string
                    country_id:
                      description: Código de pais
                      type: integer
                    municipality_id:
                      description: Código de municipio
                      type: integer
                    name:
                      description: Razón social
                      type: string
                    trade_name:
                      description: Nombre comercial
                      type: string
                    phone:
                      description: Teléfono
                      type: integer
                    address:
                      description: Dirección
                      type: string
                    email:
                      description: Correo electrónico
                      type: string
                      format: email
                    merchant_registration:
                      description: Registro mercantil
                      type: string
                  type: object
                sync:
                  description: Metodos síncrono
                  type: boolean
                  default: 'false'
                send:
                  description: Enviar representación grafica
                  type: boolean
                  default: 'false'
                notes:
                  description: Información adicional
                  type: array
                  items:
                    required:
                      - text
                    properties:
                      text:
                        description: 'Texto libre, relativo al documento'
                        type: string
                    type: object
                type_operation_id:
                  description: Código del tipo de operación
                  type: integer
                  default: '13'
                type_document_id:
                  description: Código de tipo de documento
                  type: integer
                resolution_id:
                  description: Código de resolución
                  type: integer
                date:
                  description: Fecha de asunto
                  type: string
                  format: date
                  deprecated: 'true'
                time:
                  description: Tiempo de emisión
                  type: string
                  format: time
                  deprecated: 'true'
                type_currency_id:
                  description: Código del tipo moneda del documento
                  type: integer
                  default: Código del tipo de moneda de la empresa
                invoice_period:
                  description: Periodo de facturación
                  required:
                    - start_date
                    - end_date
                  properties:
                    start_date:
                      description: Fecha de inicio del periodo de facturación
                      type: string
                      format: date
                    start_time:
                      description: Hora de inicio del periodo de facturación
                      type: string
                      format: time
                    end_date:
                      description: Fecha de fin del periodo de facturación
                      type: date
                    end_time:
                      description: Hora de fin del periodo de facturación
                      type: string
                      format: time
                  type: object
                order_reference:
                  description: Orden de compra
                  required:
                    - id
                  properties:
                    id:
                      description: Prefijo y número del documento orden referenciado
                      type: string
                    issue_date:
                      description: 'Fecha de emisión: Fecha de emisión de la orden'
                      type: string
                      format: date
                  type: object
                receipt_document_references:
                  description: Despachos
                  type: array
                  items:
                    required:
                      - id
                    properties:
                      id:
                        description: Prefijo y número del documento despacho referenciado
                        type: string
                      issue_date:
                        description: 'Fecha de emisión: Fecha de emisión del documeto de despacho'
                        type: string
                        format: date
                    type: object
                payment_exchange_rate:
                  description: Tasa de cambio
                  required:
                    - type_currency_id
                    - calculation_rate
                    - date
                  properties:
                    type_currency_id:
                      description: Código de divisa a la cual se hace la conversión
                      type: integer
[...]
